/* FOR DESKTOP FIRST PERSPECTIVE (1440px) */
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
:root {
  /* Background Colors */
  --bg-primary-color: #040404;
  --bg-fill-color: #ff626c;
  --bg-food-color:#FF0800;
  /* Text Colors */
  --txt-primary-color: #edecec;

  /* Spacing variables */
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-2xl: 40px;
  --space-3xl: 48px;

  /* Border colors */
  --border-primary-color: #333333;

  /* Border radius */
  --border-radius-xs: 4px;
  --border-radius-sm: 8px;
  --border-radius-md: 12px;
  --border-radius-lg: 16px;
  --border-radius-xl: 20px;
  --border-radius-2xl: 24px;
}
html,
body {
  height: 100%;
  width: 100%;
}
html {
  color: var(--txt-primary-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--bg-primary-color) !important;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

main,
section {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
section {
  padding: var(--space-lg);
  min-height: 100px;
  flex-grow: 1;
  height: calc(100vh - (2 * var(--space-lg)));
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}

section .infos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}

.infos .info {
  padding: var(--space-sm) var(--space-md);
  border-radius: var(--border-radius-md);
  border: 2px solid white;
}

.board {
  width: 100%;
  border: 1px solid var(--border-primary-color);
  flex-grow: 1;
  /* background-color: aquamarine; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
}

.block {
  /* height: 30px;
  width: 30px; */
  border-radius: 8px;
  font-size: 8px;
  border: 1px solid var(--border-primary-color);
}

.fill {
  background-color: var(--bg-fill-color);
}

.food{
  background-color:var(--bg-food-color);
}

.modal{
  height: 100vh;
  width:100vw;
  position: fixed;
  top: 0;
  background-color: #676767c3;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
}
.start-game,.game-over{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.start-game{
  /* display:bl; */
}
.game-over{
  display: none;
}
.modal h3{
  font-size: 2rem;
}
.btn{
  width: auto;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  align-self: center;
  padding: var(--space-sm) var(--space-md);
  border-radius: var(--border-radius-sm);
  border:none;
}
/* FOR DESKTOPS */
@media screen and (max-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
/* FOR TABLETS */
@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* FOR MOBILES */
@media screen and (max-width: 480px) {
  .container {
    max-width: 480px;
  }
}

label,
button,
select,
summary,
[type="radio"],
[type="submit"],
[type="checkbox"] {
  cursor: pointer;
}
article ol,
article ul {
  list-style-position: inside;
}
a {
  color: #337ab7;
  text-decoration: none;
  text-underline-position: under;
  text-decoration-thickness: 0.16rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.col {
  flex-basis: 0;
  flex-grow: 1;
  margin: 10px;
}
.hidden {
  display: none;
}
.visible {
  display: block;
}
